<!DOCTYPE html>
<html ng-app="MapEditor">
<head>
  <title>XML Generator - Map Editor</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/web/css/style.css" type="text/css" media="all" />
</head>

<body ng-controller="MapEditorController">

  <div id="map"> 

    <!-- floating coordinate -->
    <div id="coordinate" class="nonselectable" ng-model="coordinate">
      {{ coordinate.x }}, {{ coordinate.y }}
    </div>

    <div id="image-wrapper">
      <img class="nonselectable" src="/web/res/coordinateMap.jpg" x="0" y="0" width="2000px" height="1160px"/>
    </div>

    <!-- image display -->
    <div id="svg-wrapper">
      <div id="svg-map" ng-mousemove="showCoordinate($event)" ng-click="addBase($event)" ng-right-click="addEvent($event)">
      </div>
    </div> <!-- end of image display -->

  </div> <!-- end of map -->

</body>

<!-- include google hosted jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/web/js/angular/angular.min.js"></script>
<script src="/web/js/angular/angular-route.min.js"></script>
<script src="/web/js/raphael/raphael-min.js"></script>
<script src="/web/js/map-editor.js"></script>

</html>
