<!DOCTYPE html>
<html ng-app="MapEditor">
<head>
  <title>XML Generator - Map Editor</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/web/css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" media="all" />
</head>

<body ng-controller="MapEditorController">

  <div id="map"> 

    <!-- floating coordinate -->
    <div id="coordinate" class="nonselectable" ng-model="coordinate">
      {{ coordinate.x }}, {{ coordinate.y }}
    </div>

    <div id="settings-wrapper" class="nonselectable" ng-model="settings">
      <img id="settings" src="/web/res/settings.png" width="50" height="50" ng-click="exports()"/>
    </div>

    <div id="image-wrapper">
      <img class="nonselectable" src="/web/res/coordinateMap.jpg" x="0" y="0" width="2000px" height="1160px"/>
    </div>

    <!-- image display -->
    <div id="svg-wrapper">
      <div id="svg-map" ng-mousemove="showCoordinate($event)" ng-click="addBase($event)" ng-right-click="addEvent($event)">
      </div>
    </div> <!-- end of image display -->

  </div> <!-- end of map -->

  <div id="popup" style="display: none">
    <div id="centerpoint">
      <div id="dialog">
        <div id="close" class="nonselectable">x</div>
        <div id="region-select-div">
          <h2>Please select a region</h2>
          <select id="region-select"></select>
        </div>

        <div id="base-select-div">
          <h2>Please select a base</h2>
          <select id="base-select"></select>
        </div>

        <div id="event-select-div">
          <h2>Please select an event</h2>
          <select id="event-select"></select>
        </div>

        <div id="button-div">
          <button id="save" class="pure-button-primary">Save It!</button>
          <button id="delete" class="button-error pure-button">Delete This Point!</button>
        </div>

      </div>
    <div>
    <div id="overlay"></div>
  </div>

</body>

<!-- include google hosted jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/web/js/angular/angular.min.js"></script>
<script src="/web/js/angular/angular-route.min.js"></script>
<script src="/web/js/raphael/raphael-min.js"></script>
<script src="/web/js/map-editor.js"></script>

</html>
