@charset "UTF-8";

body {
  margin: 0;
  padding: 0; 
  background: #000;
}

.nonselectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  display: block;
  width: 100%;
  margin: 0;
}

#svg-map {
  display:block; 
  width: 2000px;
  height: 1160px;
}

#image-map {
  display:block; 
  width: 2000px;
  height: 1160px;
  z-index: -999;
}

#image-wrapper {
  width: 2000px;
  height: 1160px;
  margin-left: auto;
  margin-right: auto;
}

#svg-wrapper {
  width: 2000px;
  height: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1160px;
}

#coordinate {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  z-index: 999;

  text-align: center;
  line-height: 50px;
}

/* popup menu */
#centerpoint {
  top: 50%;
  left: 50%;
  position: fixed;
}

#dialog {
  position: relative;
  width: 600px;
  margin-left: -300px;
  height: 400px;
  margin-top: -200px;
  z-index: 1004;
  padding: 40px;

  background: rgba(255, 255, 255, 0.8);

  /* rounded */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -modz-border-radius: 15px;

  -moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,1);
  -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,1);
  box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,1);
}

#overlay {
  background: rgba(0, 0, 0, 0.7);  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  z-index: 1000;
 
 /* blur */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
}

#close {
  font-size: 20px;
  float: right;   
  cursor: pointer;
}

#button-div {
  margin-top: 50px; 
}

#button-div button {
  padding: 10px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

#settings-wrapper {
  position: fixed;
  right: 10px;
  top: 20px;
  color: #FFFFFF; 
}
